{% extends 'admin.spikers.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;SPIKE TEAM MEMBER EXISTS&nbsp;&nbsp;&bull;
        </div>
    </div>

    <div class="page">
        Sorry! This spiker already exists. Return to the list.
    </div>

{% endblock %}


