/* Stylesheet for CTL's Spike Team Notifier app
 *
 * Image Credits:
 * Metal 006 - Brushed Metal: ZooBoing | TurboSquid (http://www.turbosquid.com/FullPreview/Index.cfm/ID/682619)
 * Button: http://server.ashoresystems.com/~battlepa/battleparty/assets/scripts/game/images/
 */
body {
  font-size: 16px; }

.nameplate {
  font-size: 24px; }

a, a:hover, a:active, a:focus {
  color: red;
  text-decoration: none;
  outline: 0; }

a button {
  color: black; }

input::-moz-focus-inner {
  border: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  padding-top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFF; }
  body #inner {
    width: 85%;
    margin: 0 auto; }

#body-wrapper {
  position: relative; }
  #body-wrapper .blocker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999; }
    #body-wrapper .blocker .background {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .4; }
    #body-wrapper .blocker .message {
      position: fixed;
      top: 45%;
      left: 0;
      height: 100%;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 72px; }

#body {
  padding-bottom: 60px; }

.nameplate {
  text-align: center;
  margin: 30px 0; }
  .nameplate .nameplate-inner {
    display: inline-block;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: .5em;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; }

.page {
  background-color: white;
  color: black;
  padding: 1.5em 2em;
  min-width: 520px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  overflow: hidden; }
  .page .form-left, .page .form-right {
    width: 47.5%; }
  .page .form-left {
    float: left; }
  .page .form-right {
    float: right; }
  .page .form-bottom {
    padding-top: .5em;
    clear: both; }

.groups {
  overflow: hidden; }
  .groups .buttons {
    width: calc(100% - 80px);
    float: left; }
    .groups .buttons button {
      margin-bottom: 1em; }
      .groups .buttons button.day {
        background-color: #FFF9B0; }
        .groups .buttons button.day:hover {
          background-color: #EDE7A4; }
      .groups .buttons button.night {
        color: white;
        background-color: #9393D8; }
        .groups .buttons button.night:hover {
          background-color: #7D7DB8; }
      .groups .buttons button.btn-primary {
        background-color: #337ab7; }
        .groups .buttons button.btn-primary:hover {
          background-color: #337ab7; }
  .groups .group-right {
    float: right;
    display: inline-block; }

.meta {
  position: relative;
  width: 100%; }
  .meta .spiker-numbers {
    font-size: 14px;
    font-style: italic;
    color: gray;
    float: left;
    padding-left: .5em; }
  .meta .import-export {
    float: right; }

table.spikers tr.disabled, table.spikers option.disabled {
  font-style: italic;
  color: gray; }
  table.spikers tr.disabled select, table.spikers tr.disabled .edit, table.spikers option.disabled select, table.spikers option.disabled .edit {
    font-style: normal;
    color: black; }
table.spikers tr.captain {
  background-color: #F2F2F2; }
  table.spikers tr.captain.day {
    background-color: #FFFAC0; }
  table.spikers tr.captain.night {
    background-color: #BEBEE8; }

td.center {
  text-align: center; }

.alert {
  font-weight: bold;
  color: red;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.spiker-edit-captain {
  padding-left: .75em; }
  .spiker-edit-captain .checkbox-inline {
    padding-left: .25em; }

.import-link {
  cursor: pointer; }

.errors {
  text-align: center;
  background: #A80000;
  color: white;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; }

body.anon #inner #fos-user {
  margin: 150px auto;
  width: 300px; }
  body.anon #inner #fos-user input {
    font-size: 18px; }
  body.anon #inner #fos-user .nameplate-inner {
    width: 300px; }
  body.anon #inner #fos-user #remember label {
    font-weight: normal;
    padding: .5em 0; }
  body.anon #inner #fos-user #submit input {
    width: 300px; }

#button-box {
  clear: both;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  background: repeating-linear-gradient(-45deg, black, black 16px, yellow 16px, yellow 32px);
  overflow: hidden;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; }

.section-button .page {
  text-align: center;
  min-width: 10px !important;
  width: 300px;
  margin: 0 auto; }
  .section-button .page .latest {
    font-size: 14px;
    font-style: italic;
    color: gray; }
  .section-button .page select {
    text-align: center; }
    .section-button .page select:hover {
      cursor: pointer; }
    .section-button .page select option:disabled {
      font-style: italic; }
      .section-button .page select option:disabled:before, .section-button .page select option:disabled:after {
        content: '-'; }

#button-box-inner {
  width: 225px;
  height: 225px;
  margin: 37.5px 37.5px;
  background-color: #FFF;
  -webkit-box-shadow: inset 8px 8px 6px -6px black;
  -moz-box-shadow: inset 8px 8px 6px -6px black;
  box-shadow: inset 8px 8px 6px -6px black; }
  #button-box-inner #button {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 225px; }
    #button-box-inner #button button.button-image {
      margin: 12.5px 0;
      width: 200px;
      height: 200px;
      border: none;
      background: url("../images/button-200-400.png") no-repeat 0 0 transparent; }
    #button-box-inner #button button.button-image:active {
      background-position: 0 -200px; }
    #button-box-inner #button.disabled button.button-image {
      opacity: .6; }

.group-select option {
  background-color: white; }
  .group-select option.day {
    background-color: #FFF9B0; }
  .group-select option.night {
    background-color: #9393D8;
    color: white; }

/**
 * CSS for On/Off button from https://proto.io/freebies/onoff/
 */
.onoffswitch {
  margin-top: 3px;
  width: 64px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 50px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #337AB7;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

body {
  background-image: url("../images/steel-bg.jpg"); }

body.section-button .nameplate-inner {
  width: 300px; }

@media (max-width: 400px) {
  #inner {
    width: 100% !important;
    margin: 0 !important; } }

/*# sourceMappingURL=stylesheet.css.map */
