{% extends 'admin.button.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;ALERT SPIKE TEAM&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div id="button-box">
        <div id="button-box-inner">
            <div id="button" class="{% if canPush %}enabled{% else %}disabled{% endif %}">
                <img class="button-image" src="{{ asset('images/button.png') }}" />
            </div>
        </div>
    </div>
{% endblock %}


