{% extends 'admin.html.twig' %}

{% block body %}
    <div id="nameplate">
        ALERT SPIKE TEAM
    </div>
    <div id="button-box">
        <div id="button-box-inner">
            <div id="button">
                THE BUTTON
            </div>
        </div>
    </div>
{% endblock %}


