{% extends 'admin.html.twig' %}

{% block body %}
    <div id="nameplate">
        <div id="nameplate-inner">
            &bull;&nbsp;&nbsp;ALERT SPIKE TEAM&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div id="button-box">
        <div id="button-box-inner">
            <div id="button">
                {% if canPush %}
                    <a href="{{ goUrl }}">
                        <img class="button-image enabled" src="{{ asset('images/button.png') }}" />
                    </a>
                {% else %}
                    <img class="button-image disabled" src="{{ asset('images/button.png') }}" />
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


