body.anon #inner {
    #fos-user {
        input { font-size: 18px; }
        .nameplate-inner { width: 300px; }
        margin: 150px auto;
        width: 300px;
        #remember label {
            font-weight: normal;
            padding: .5em 0;
        }
        #submit input {
            width: 300px;
        }
    }
}