#button-box {
    text-align: center;
    width: $button-box-width;
    height: $button-box-height;
    margin: 0 auto;
    background: repeating-linear-gradient(
        -45deg,
        black,
        black $button-stripe-width,
        yellow $button-stripe-width,
        yellow $button-stripe-width * 2
    );
    overflow: hidden;
    @include drops;
}

$button-inner-width: $button-box-width * $button-inner-scale;
$button-inner-height: $button-box-height * $button-inner-scale;

#button-box-inner {
    width: $button-inner-width;
    height: $button-inner-height;
    margin: ($button-box-height - $button-inner-height)/2 ($button-box-width - $button-inner-width)/2;
    background-color: $color-background;
    #button {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: $button-inner-height;
        img.button-image {
            width: $button-size;
            height: $button-size;
        }
        &.disabled {
            img.button-image {
                opacity: .4;
            }
        }
    }
    -webkit-box-shadow: inset 8px 8px 6px -6px black;
       -moz-box-shadow: inset 8px 8px 6px -6px black;
            box-shadow: inset 8px 8px 6px -6px black;
}