html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: $body-top-space;
    width: 100%;
    height: 100%;
    #inner {
        width: 85%;
        margin: 0 auto;
    }
    background-color: $color-background;
}

#body-wrapper {
    position: relative;
    .blocker {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99999999;
        .background {
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .4;
        }
        .message {
            position: fixed;
            top: 45%;
            left: 0;
            height: 100%;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 72px;
        }
    }
}

#body {
    padding-bottom: $body-bottom-space;
}