@mixin drops {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

@mixin sub-italic {
    font-size: 14px;
    font-style: italic;
    color: gray;
}
