div.stats-container {
    margin: 0 auto;
    display: block;
    padding: 10px;
    background: white;
    @media screen and (max-width: 600px) {
        display: block;
    }
}

div.dashboard-container {
    text-align: center;
}

.stats span, .issues span {
    color: red;
}

.date-select {
    text-align: center;
    margin: 10px 0;
}

ul.users-list, ul.stats-list {
    display: inline-block;
    border-bottom: 1px solid black;
}

ul.users-list, ul.stats-list, ul.issues-list, .issues, {
    text-align: center;
    display: block;
    min-width: 50px;
    list-style-type: none;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 600px) {
        text-align: left;
    }
}


ul.left-list li, ul.right-list li {
    display: inline-block;
    margin: 5px;
}


