div.stats-container {
    padding: 10px;
    background: white;
    @include drops;
}

div.dashboard-container {
    text-align: center;
}

.stats span, .issues span {
    color: red;
}

.date-select {
    text-align: center;
    margin: 10px 0;
}

ul.users-list, ul.stats-list {
    border-bottom: 1px solid black;
}

ul.users-list, ul.stats-list, ul.issues-list, .issues, {
    text-align: center;
    list-style-type: none;
    @media screen and (max-width: 600px) {
        text-align: left;
    }
}
ul.users-list, ul.stats-list {
    padding: 10px 0;
}

.issues, ul.issues-list {
    padding: 5px 0;
}

.issues p:last-of-type {
    text-decoration: underline;
}


ul.left-list li, ul.right-list li {
    margin: 5px;
}


