$body-size: 16px;
$nameplate-size: 24px;
$body-top-space: 0px;
$body-bottom-space: 60px;

$button-size: 200px;
$button-box-width: 300px;
$button-box-height: $button-box-width;
$button-inner-scale: 3/4;
$button-stripe-width: 16px;

$color-nameplate: black;
$color-background: #FFF;
$color-gray: gray;
$color-captain: #FFFFE8;
$color-day: #FFFF99;
$color-night: #6666FF;

$page-padding-x: 2em;
$page-padding-y: 1.5em;