$body-size: 24px;
$navbar-size: 18px;
$body-top-space: 70px;

$button-size: 200px;
$button-box-width: 300px;
$button-box-height: $button-box-width;
$button-inner-scale: 3/4;
$button-stripe-width: 16px;

$color-nameplate: black;
$color-background: #FFF;