{% extends 'admin.spikers.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;Edit Group&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div class="page">

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('spikers') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
